@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(to bottom,
      transparent,
      rgb(var(--background-end-rgb))) rgb(var(--background-start-rgb));
}

body {
  background: #000;
}

/* .izle {
  border:1px solid red;
}*/
.hareket {
  color: #5dea62;
  font-family: Monaco, monospace;
  font-size: 24px;
  width: 100%;
  text-align: left;
  animation: 120ms infinite normal glitch;
}

span {
  animation: 1.5s infinite normal imlec;
}

::-moz-selection {
  background: #7021d2;
  color: #fff;
}

::selection {
  background: #7021d2;
  color: #fff;
}

@keyframes glitch {
  0% {
    opacity: 0;
    left: 0;
  }

  40%,
  80% {
    opacity: 1;
    left: -2px;
  }
}

@keyframes imlec {
  0% {
    opacity: 0;
    left: 0;
  }

  40% {
    opacity: 0;
    left: -2px;
  }

  80% {
    opacity: 1;
    left: -2px;
  }
}

.bilmm {
  display: inline-block;
  position: absolute;
  top: 45%;
  left: calc(50% - 200px);
}